body {
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.event-container {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.event-table {
    color: pink;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
}

.event-table th {
    border: 2px solid indianred;
}

.event-table td {
    border: 2px solid lightblue;
}