body {
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.data-container {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

.data-table {
  color: pink;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 1.5;
  width: 100%;
  margin: 0 auto;
}

.data-table th {
  border: 2px solid indianred;
}

.data-table td {
  border: 2px solid lightblue;
}

form {
  color: pink;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 20px;
}

label {
  display: block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="datetime-local"],
select {
  background-color: dimgray;
  color: pink;
  border: 2px solid lightblue;
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

input[type="submit"],
.button-link {
  background-color: indianred;
  color: pink;
  border: 2px solid pink;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
}

input[type="submit"]:hover,
.button-link:hover {
  background-color: pink;
  color: indianred;
}
